In [4]:
class Person:
    pass

john_doe = Person()
john_doe.name = "Alec"
john_doe.surname = "Baldwin"
john_doe.year_of_birth = 1958


print(john_doe)
print("%s %s was born in %d." %
      (john_doe.name, john_doe.surname, john_doe.year_of_birth))

<__main__.Person object at 0x7f78bab8c6d0>
Alec Baldwin was born in 1958.

In [5]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

alec = Person("Alec", "Baldwin", 1958)
print(alec)
print("%s %s was born in %d"% (alec.name,alec.surname,alec.year_of_birth))

<__main__.Person object at 0x7f78bab91b90>
Alec Baldwin was born in 1958

In [6]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d ." % (self.name, self.surname, self.year_of_birth)
    
alec = Person("Alec", "Baldwin", 1958)
print(alec)
print(alec.age(2019))

Alec Baldwin was born in 1958 .
61

In [7]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)
print(type(charlie))
print(isinstance(charlie, Person))
print(isinstance(charlie, object))

Charlie Brown was born in 2006 .
<class '__main__.Student'>
True
True

In [8]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)

Charlie Brown was born in 2006 . And has ID: 1

In [9]:
def summer(a, b):
    return a + b

print(summer(1, 1))
print(summer(["a", "b", "c"], ["d", "e"]))
print(summer("abra", "cadabra"))

2
['a', 'b', 'c', 'd', 'e']
abracadabra

In [ ]:
my_file = open('textfile.txt')
my_file.read()

In [ ]:
my_file = open('textfile.txt')
my_file.seek(0)
my_file.read()

In [14]:
from io import StringIO
message = 'bangalore is called the garden city'
f = StringIO(message)
f.read()

'bangalore is called the garden city'

In [17]:
from io import StringIO
f.write(' Second line written to file like object')

40

In [19]:
from io import StringIO
f.seek(0)
f.read()

'bangalore is called the garden city Second line written to file like object Second line written to file like object'