In [1]:
import math
math.ceil(7.6)

8

In [2]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except IOError:
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Content written successfully

In [3]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except IOError:
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Error: Could not find file or read data

In [4]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except:
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Content written successfully

In [5]:
try:
   f = open("testfile", "w")
   f.write("Test write statement")
finally:
   print("Always execute finally code blocks")

Always execute finally code blocks

In [6]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            
        finally:
            print("Finally, I executed!")
        print(val)       

askint()

Please enter an integer: 123
Finally, I executed!
123

In [7]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            val = int(input("Try again-Please enter an integer: "))
        finally:
            print("Finally, I executed!")
        print(val) 

askint()

Please enter an integer: 5896
Finally, I executed!
5896

In [8]:
def askint():
    while True:
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            continue
        else:
            print('Yep thats an integer!')
            break
        finally:
            print("Finally, I executed!")
        print(val) 

askint()

Please enter an integer: jsbdfhb
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: 2
Yep thats an integer!
Finally, I executed!

In [12]:
import sqlite3
db = sqlite3.connect("my_database1.db")
db.execute("drop table if exists grades1")

In [14]:
db.execute("create table grades(id int, name text, score int)")

In [15]:
db.execute("insert into grades(id, name, score) values(01, 'tina',99 )")
db.execute("insert into grades(id, name, score) values(02, 'ram',90 )")
db.execute("insert into grades(id, name, score) values(03, 'raju', 80 )")
db.execute("insert into grades(id, name, score) values(04, 'krish', 85 )")
db.execute("insert into grades(id, name, score) values(05, 'arav',95 )")

In [16]:
db.commit()

In [17]:
results = db.execute("select * from grades order by id")
for row in results:
    print(row)
print("-" * 60 )

(1, 'tina', 99)
(2, 'ram', 90)
(3, 'raju', 80)
(4, 'krish', 85)
(5, 'arav', 95)
------------------------------------------------------------

In [18]:
results = db.execute("select * from grades where name = 'raju' ")
for row in results:
    print(row)
print("-" * 60 )

(3, 'raju', 80)
------------------------------------------------------------

In [19]:
results = db.execute("select * from grades where score >= 75 ")
for row in results:
    print(row)
print("-" * 60 )

(1, 'tina', 99)
(2, 'ram', 90)
(3, 'raju', 80)
(4, 'krish', 85)
(5, 'arav', 95)
------------------------------------------------------------

In [21]:
results = db.execute("select name, score from grades order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('tina', 99)
('arav', 95)
('ram', 90)
('krish', 85)
('raju', 80)
------------------------------------------------------------

In [22]:
results = db.execute("select name, score from grades order by score")
for row in results:
    print(row)
print("-" * 60 )

('raju', 80)
('krish', 85)
('ram', 90)
('arav', 95)
('tina', 99)
------------------------------------------------------------

In [23]:
results = db.execute("select name, score from grades order by score")
for row in results:
    print(row)

('raju', 80)
('krish', 85)
('ram', 90)
('arav', 95)
('tina', 99)